body {
  margin: 0;
}

/* Disable ugly boxes around images in IE10 */
a img{
  border: 0px;
}

h1 {
    font-family: 'Rubik Mono One', cursive;
    font-weight: normal;
    letter-spacing: 2px;
    font-size: 5em;
    color: black;
    background: gold;
    text-align: center;
}

h2 {
    font-family: "Courier New";
    letter-spacing: -2px;
    font-weight: normal;
}

div.stage {
    padding: 5px;
    width: 230px;
    border: solid 1px black;
    height: 70px;
}

div.content {
    width: 95%;
    margin: 0 auto;
}

::-moz-selection {
  background-color: red;
  color: #fff;
}

::selection {
  background-color: red;
  color: #fff;
}


